pip==18.0
bump2version==0.5.10
wheel==0.31.1
watchdog==0.9.0
flake8==3.5.0
tox==3.4.0
coverage==4.5.1
Sphinx==1.8.0
twine==1.12.0
Click>=6.0
path.py==11.3.0
pytest==3.8.0
pytest-runner==4.2
https://github.com/SekouD/potranslator/raw/dev/dependecy_wheels/importlib_resources-1.0.1-py2.py3-none-any.whl

googletrans==2.3.0
polib==1.1.0
